/*all elements should be intiated with a margin 0 except the dialogs
beacause the dialogs by default are positioned at the center*/
*{
  margin: 0px;
  padding: 0px;
  font-family: system-ui, sans-serif;
}
dialog{
  margin: auto;
  padding: auto;
}


body{
  background: #222;
  color:#919191;
  font-size: 16px;
}
h1{
  text-align: center;
  margin-top:30px;
  font-family: "poopins", sans-serif;
  font-size: 26px;
  color: #fff;
}
main{
  display: flex;
  flex-direction: column;
}
h2{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #fff;
}
.input-section, .output-section{
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.input-section-container, .output-section-container{
  border:1px solid grey;
  border-radius: 10px;
  padding:20px 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.input-section-container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  column-gap: 80px;
  row-gap: 30px;
  margin-bottom: 40px;
}
.input-section-container-grid div{
  display: flex;
  align-items: center;
}

.input-section-container-grid label, .price-text{
  width:125px;
  min-width:125px;
  white-space: nowrap;
  margin-right: 10px;
}
.input-section-container-grid input{
  width: 85%;
}
.price-value{
  font-weight: 700;
  background: #111;
  color: #3a3e8a;
  width:100%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.20s;
}
.price-value:hover{
  cursor:no-drop;
}
input{
  background: #111;
  color:#fff;
  height: 30px;
  outline:none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 6px;
}
input:focus{
  background: #000;
}
button{
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: all 0.15s;
  background: #470053;
  color: #fff;
}
button:hover{
  filter: brightness(1.1);
  letter-spacing: 0.5px;
}
button:active{
  filter: brightness(1.2);
  letter-spacing: 0.5px;
}
.add-button{
  width: 30%;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #470053;
  color: #fff;
}
.search-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.search-bar-container{
  width: 65%;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}
#search{
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-left: 50px;
}
#search::placeholder{
  font-size: 14px;
}
.fa-magnifying-glass{
  position: absolute;
  top:13px;
  left:12px;
  font-size: 14px;
}
.count{
  position: absolute;
  top:10px;
  right:-30px;
  font-size: 14px;
  visibility: hidden;
}
.search-options{
  display: flex;
  gap:16px;
  width:65%;
  justify-content: center;
}
#search-by-name, #search-by-category{
  width: 40%;
  min-width: 150px;
  padding: 4px;
  background: #470053;
}
table{
  width:100%;
  text-align:center;
}
th{
  color:#fff;
  text-transform: uppercase;
}
th,td{
  padding: 6px 5px;
}
.update-button, .delete-button{
  width:100%;
  max-width: 80px;
  background: #094a07;
}
.delete-button{
  background: #b8140b;
}
.delete-all-button{
  box-sizing: border-box;
  background:#b8140b;
  color: #fff;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: none;
}
.fa-plus {
  margin-left: 5px;
  font-size: 10px;
}
.fa-arrow-up-long{
  margin-left: 5px;
  font-size: 10px;
}
.fa-trash{
  margin-left: 8px;
  font-size: 12px;
}
.no-result{
  text-align: center;
  margin: 20px;
  display:none;
}
@media(max-width:850px){
  body{
    font-size: 14px;
  }
  button{
    font-size: 12px;
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  .tax-column, .discount-column,.profit-column{
    display:none;
  }
  .input-section-container, .output-section-container{
    width:85%;
  }
}
